extends layout

block content
    if carts.length
        h1 Your Cart
        ul.list-group
        each cart,i in carts
            .row.col-md-4
                li.list-group-item
                    p.text-center
                        img.rounded.mx-auto.d-block(src='/image/'+cart.cart_product_name+'_01.jpg',alt="img")
                    p.text-center
                        a(href="/carts/"+cart._id+'/'+cart.productID)=cart.cart_product_name
                    p.text-center #{cart.cart_product_price}
        h3 Total #{total}
        a.btn.btn-primary(href='/users/address/'+total+'/'+carts+'/'+user._id) Purchase               
    else
        h3.bold Your cart is empty
