extends layout

block content
    if user
        h1 Hi #{user.name} ! Welcome to Shopping Mall
        ul.list-group
            each product,i in products
                .row.col-md-4
                    li.list-group-item
                        p.text-center
                            img.rounded.mx-auto.d-block(src='/image/'+product.product_name+'_01.jpg',alt="img")
                        p.text-center
                            a(href="/products/"+product._id)=product.product_name
    else
        h1 Hi there ! Welcome to Shopping Mall , Please Login/SignUp for better experience!
        ul.list-group
            each product,i in products
                .row.col-md-4
                    li.list-group-item
                        p.text-center
                            img.rounded.mx-auto.d-block(src='/image/'+product.product_name+'_01.jpg',alt="img")
                        p.text-center
                            a(href="#")=product.product_name
        