doctype html
html
    head
        title Ecommerce
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
        style(type='text/css').
            img{width:50%}
    body
        nav.navbar.navbar-inverse
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Ecommerce
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/') Home
                            form(method="get" ,action='/products/search')
                                #from-group
                                    input.form-control(name='query',type='text',placeholder='Search...')
                                    input.btn.btn-primary(type='submit',value='Search')
                    ul.nav.navbar-nav.navbar-right
                        if user
                            li 
                                a(href='/users/logout') logout
                            li
                                a(href='/carts/show/'+user._id) Cart
                        else    
                            li
                                a(href='/users/register') Registration
                            li
                                a(href='/users/login') Login
                            li
                                a(href='/admins/login') Admin Login
        .container
            !=messages('message',locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')