extends layout

block content
    h3 " #{products.length} " Search results :
    if user
        ul.list-group
        .flex-container
            each product,i in products
                .container-product
                    img.rounded.mx-auto.d-block(src='/image/'+product.product_name+'_01.jpg',alt="img")
                    a(href="/products/"+product._id)=product.product_name
    else
        ul.list-group
        .flex-container
            each product,i in products
                .container-product
                    img.rounded.mx-auto.d-block(src='/image/'+product.product_name+'_01.jpg',alt="img")
                    a(href="#")=product.product_name