extend layout

block content
    if products.length
        h1 #{products.length} Search Results
        ul.list-group
            each product,i in products
                .col-sm-4
                    li.list-group-item
                        p.text-center 
                            img(src='/image/'+product.product_name+'_01.jpg' alt='hi')
                            br   
                            a(href="/products/"+product._id)=product.product_name
                        p.text-center #{product.product_desc}
    else
        h3 No results Found!